nav.navbar {
  padding: 0 1rem 0 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  button.nav-link {
    height: 50px;
    padding-left: 2rem;
    border: none;

    &:hover, &:active, &:focus, &:focus-within {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  .marca {
    margin: 0 1rem;
  }

  .usermenu .login a {

    &:hover {
      text-decoration: none;
    }
  }
}