#page-header {

  a {
    text-decoration: none;

    &:hover, &:active, &:focus, &:focus-within {
      text-decoration: none;
    }
  }

  .card {
    border: none;
    background-color: transparent;
  }
}