.course-content {

  ul.topics,
  ul.weeks,
  ul.ctopics {
    clear: both;

    #section-0 {
      border: none;
    }

    li.section.main {
      margin-top: 15px;
      border: 1px solid #d5d5d5;

      &:first-child {
        margin-top: 0 !important;
      }

      .dropdown-menu {
        background-color: #fafafa;

        a {
          color: $laranja;
        }
      }

      .left.side {
        padding: 0;
      }

      .right.side {
        padding: 0;
        width: 80px;
        margin-right: -1px;

        img.spacer {
          display: none;
        }

        .section_action_menu .textmenu {
          color: white;

          .textmenu .caret {
            border-top-color: white !important;
          }
        }
      }

      .sectionhead {

        a {
          color: $laranja;

          &:hover {
            color: #b5452b;
            text-decoration: none;
          }
        }
      }

/*      &.current {

        .icon {
          color: white;
        }

        a {
          color: white;

          &:hover {
            color: white;
          }
        }
      }*/

      .content {
        margin: 0;

        .summary {
          margin-left: 0;
          padding: 0 25px;
        }

        .no-overflow {
          overflow: auto;
          float: left;
          width: 100%;
        }

        .sectionname {
          background-image: none;
          border-radius: 0;
          padding: 0 15px;
          font-weight: 600;

          &.accesshide {
            position: relative;
            left: 0;
            z-index: -1;

            span[data-itemtype="sectionname"] {
              display: none;
            }
          }

          span.the_toggle,
          span.the_toggle:hover,
            span.toggle_open,
            span.toggle_open:hover,
            span.toggle_closed,
            span.toggle_closed:hover {
            background-image: none !important;
            padding-left: 0 !important;
            padding-right: 15px !important;
          }

          .toggle_open {

            .sectionname:after {
              float: right;
              font-family: FontAwesome;
              content: "\f0d8";
            }
          }

          .toggle_closed {

            .sectionname:after {
              float: right;
              font-family: FontAwesome;
              content: "\f0d7";
            }
          }

          a:hover {
            text-decoration: none;
          }
        }

        ul.section.img-text {
          padding: 0 15px;
        }

        .section_availability {

          .availabilityinfo {
            margin: 1rem 0;
            padding: 0 15px;
          }
        }
      }
    }
  }
}



ul.ctopics .tcsection {
  margin: 0;

  .left.side, .right.side {
    display: none;
  }

  .content {
    float: left;
    margin: 25px 0 !important;

    .sectionbody h4 {
      margin: 0;

      .tc-medium {
        float: left;
        width: auto !important;
        padding: 10px !important;
        background-image: none !important;
        font-size: 16px;
        color: white;
        cursor: pointer;

        &:after {
          float: right;
          margin-left: 8px;
          font-family: FontAwesome;
        }

        &.on {
          background-color: $azul !important;

          &:hover {
            background-color: darken($azul, 5%) !important;
          }

          &:after {
            content: "\f0d7";
          }
        }

        &.off {

          &:after {
            content: "\f0d8";
          }
        }
      }
    }
  }
}


.contentafterlink {
  margin-top: 0 !important;
}
.course-content .topics h3 {
  font-size: 21px;
}
.course-content .topics .section {

  .summary .no-overflow {
    color: #3a87ad;
    line-height: 24px;
    background: #d9edf7;
    padding: 10px 20px;
    border: 1px solid #bce8f1;
    border-radius: 5px;
    margin-bottom: 25px;

    p {
      color: #3a87ad;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  .activity {

    .activityinstance a {
      font-size: 18px;
      font-family: arvoregular, Arial, Helvetica, sans-serif;
      color: #656565;
      line-height: 24px;

      img {
        margin-right: 12px;
      }

      .instancename {
        vertical-align: top;
        font-weight: bold;
      }
    }

    .contentafterlink p {
      color: #525252;
    }


    .availabilityinfo .no-overflow,
    .course-content .topics .section .activity .contentafterlink .no-overflow {
      line-height: 22px;
    }
  }
}

.course_category_tree .category .numberofcourse {
  font-size: 12px;
  color: #fff;
}

.course-content #completionprogressid {
  margin: 10px;
  width: 100%;
}

.course-content ul.topics li.section.main .section-handle,
.course-content ul.weeks li.section.main .section-handle,
.course-content ul.ctopics li.section.main .section-handle,
.course-content ul.topics li.section.main .section_action_menu,
.course-content ul.weeks li.section.main .section_action_menu,
.course-content ul.ctopics li.section.main .section_action_menu {
  padding: 5px 0;
  width: auto;
  min-width: 41px;
  height: 50px;
}

.course-content ul.topics li.section.main .section-handle,
.course-content ul.weeks li.section.main .section-handle,
.course-content ul.ctopics li.section.main .section-handle {
  position: relative;
  margin-right: 10px;
}
.course-content ul.topics li.section.main .section-handle:before,
.course-content ul.weeks li.section.main .section-handle:before,
.course-content ul.ctopics li.section.main .section-handle:before {
  display: none;
}
.course-content ul.topics li.section.main .section-handle img,
.course-content ul.weeks li.section.main .section-handle img,
.course-content ul.ctopics li.section.main .section-handle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 12px;
}
.course-content ul.topics li.section.main .tceditsection,
.course-content ul.weeks li.section.main .tceditsection,
.course-content ul.ctopics li.section.main .tceditsection {
  display: none;
}
.course-content ul.topics li.section.main .section_action_menu .section-actions,
.course-content ul.weeks li.section.main .section_action_menu .section-actions,
.course-content ul.ctopics li.section.main .section_action_menu .section-actions {
  line-height: 50px;
}
.course-content ul.topics li.section.main .section_action_menu .section-actions a.toggle-display.textmenu,
.course-content ul.weeks li.section.main .section_action_menu .section-actions a.toggle-display.textmenu,
.course-content ul.ctopics li.section.main .section_action_menu .section-actions a.toggle-display.textmenu {
  color: #777;
}
.course-content ul.topics li.section.main .section_action_menu .section-actions a.toggle-display.textmenu .caret,
.course-content ul.weeks li.section.main .section_action_menu .section-actions a.toggle-display.textmenu .caret,
.course-content ul.ctopics li.section.main .section_action_menu .section-actions a.toggle-display.textmenu .caret {
  border-top-color: #777 !important;
}
.course-content ul.topics li.section.main.current,
.course-content ul.weeks li.section.main.current,
.course-content ul.ctopics li.section.main.current {
  background-color: white;
  border-width: 2px;
}
.course-content ul.topics li.section.main.current .section-handle,
.course-content ul.weeks li.section.main.current .section-handle,
.course-content ul.ctopics li.section.main.current .section-handle,
.course-content ul.topics li.section.main.current .section_action_menu,
.course-content ul.weeks li.section.main.current .section_action_menu,
.course-content ul.ctopics li.section.main.current .section_action_menu {
  border-bottom: 0;
}
.course-content ul.topics li.section.main.current .section_action_menu a.toggle-display.textmenu,
.course-content ul.weeks li.section.main.current .section_action_menu a.toggle-display.textmenu,
.course-content ul.ctopics li.section.main.current .section_action_menu a.toggle-display.textmenu {
  color: #fff;
}
.course-content ul.topics li.section.main.current .section_action_menu a.toggle-display.textmenu .caret,
.course-content ul.weeks li.section.main.current .section_action_menu a.toggle-display.textmenu .caret,
.course-content ul.ctopics li.section.main.current .section_action_menu a.toggle-display.textmenu .caret {
  border-top-color: #fff !important;
}
.course-content ul.topics li.section.main.current .content .sectionname,
.course-content ul.weeks li.section.main.current .content .sectionname,
.course-content ul.ctopics li.section.main.current .content .sectionname,
.course-content ul.topics li.section.main.current .content .sectionname:hover,
.course-content ul.weeks li.section.main.current .content .sectionname:hover,
.course-content ul.ctopics li.section.main.current .content .sectionname:hover {
  border-radius: 0;
  color: white;
  border-bottom: none;
}
.course-content ul.topics li.section.main.current .content .sectionname:hover,
.course-content ul.weeks li.section.main.current .content .sectionname:hover,
.course-content ul.ctopics li.section.main.current .content .sectionname:hover,
.course-content ul.topics li.section.main.current .content .sectionname:hover:hover,
.course-content ul.weeks li.section.main.current .content .sectionname:hover:hover,
.course-content ul.ctopics li.section.main.current .content .sectionname:hover:hover {
  color: white;
}
.course-content ul.topics li.section.main.current .content .sectionname span.the_toggle,
.course-content ul.weeks li.section.main.current .content .sectionname span.the_toggle,
.course-content ul.ctopics li.section.main.current .content .sectionname span.the_toggle,
.course-content ul.topics li.section.main.current .content .sectionname:hover span.the_toggle,
.course-content ul.weeks li.section.main.current .content .sectionname:hover span.the_toggle,
.course-content ul.ctopics li.section.main.current .content .sectionname:hover span.the_toggle {
  background-image: none;
  color: white;
}
.course-content ul.topics li.section.main.current .content .sectionname span.the_toggle:hover,
.course-content ul.weeks li.section.main.current .content .sectionname span.the_toggle:hover,
.course-content ul.ctopics li.section.main.current .content .sectionname span.the_toggle:hover,
.course-content ul.topics li.section.main.current .content .sectionname:hover span.the_toggle:hover,
.course-content ul.weeks li.section.main.current .content .sectionname:hover span.the_toggle:hover,
.course-content ul.ctopics li.section.main.current .content .sectionname:hover span.the_toggle:hover {
  color: #dadada;
}
.course-content ul.topics li.section.main.orphaned .section-handle,
.course-content ul.weeks li.section.main.orphaned .section-handle,
.course-content ul.ctopics li.section.main.orphaned .section-handle,
.course-content ul.topics li.section.main.orphaned .section_action_menu,
.course-content ul.weeks li.section.main.orphaned .section_action_menu,
.course-content ul.ctopics li.section.main.orphaned .section_action_menu {
  margin-top: -1px;
  padding: 5px 0;
  width: auto;
  min-width: 41px;
  height: 50px;
  background-color: #fafafa;
  border: 1px solid #d5d5d5;
}
.course-content ul.topics li.section.main.orphaned .section-handle,
.course-content ul.weeks li.section.main.orphaned .section-handle,
.course-content ul.ctopics li.section.main.orphaned .section-handle {
  position: relative;
  margin-right: 10px;
  margin-left: -1px;
}
.course-content ul.topics li.section.main.orphaned .section-handle img,
.course-content ul.weeks li.section.main.orphaned .section-handle img,
.course-content ul.ctopics li.section.main.orphaned .section-handle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.course-content ul.topics li.section.main.orphaned .section_action_menu,
.course-content ul.weeks li.section.main.orphaned .section_action_menu,
.course-content ul.ctopics li.section.main.orphaned .section_action_menu {
  position: relative;
  margin-right: -1px;
  padding: 5px;
}
.course-content ul.topics li.section.main.orphaned .section_action_menu .tceditsection,
.course-content ul.weeks li.section.main.orphaned .section_action_menu .tceditsection,
.course-content ul.ctopics li.section.main.orphaned .section_action_menu .tceditsection {
  display: none;
}
.course-content ul.topics li.section.main.orphaned .section_action_menu .section-actions,
.course-content ul.weeks li.section.main.orphaned .section_action_menu .section-actions,
.course-content ul.ctopics li.section.main.orphaned .section_action_menu .section-actions {
  line-height: 50px;
}
.course-content ul.topics li.section.main.orphaned .section_action_menu .section-actions a.toggle-display.textmenu,
.course-content ul.weeks li.section.main.orphaned .section_action_menu .section-actions a.toggle-display.textmenu,
.course-content ul.ctopics li.section.main.orphaned .section_action_menu .section-actions a.toggle-display.textmenu {
  color: #777;
}
.course-content ul.topics li.section.main.orphaned .section_action_menu .section-actions a.toggle-display.textmenu .caret,
.course-content ul.weeks li.section.main.orphaned .section_action_menu .section-actions a.toggle-display.textmenu .caret,
.course-content ul.ctopics li.section.main.orphaned .section_action_menu .section-actions a.toggle-display.textmenu .caret {
  border-top-color: #777 !important;
}
.course-content ul.topics li.section.main.orphaned .content,
.course-content ul.weeks li.section.main.orphaned .content,
.course-content ul.ctopics li.section.main.orphaned .content {
  margin: 0 40px 0 0;
}
.course-content ul.topics li.section.main.orphaned .content .sectionname,
.course-content ul.weeks li.section.main.orphaned .content .sectionname,
.course-content ul.ctopics li.section.main.orphaned .content .sectionname {
  height: auto;
  margin: 0;
  background-color: #fafafa;
  border-bottom: 1px solid #d5d5d5;
  color: #777;
  font-style: normal;
  font-size: 19px;
  line-height: 50px;
  padding-left: 20px;
}
.course-content ul.topics li.section.main.orphaned .content .sectionname .sectionname:after,
.course-content ul.weeks li.section.main.orphaned .content .sectionname .sectionname:after,
.course-content ul.ctopics li.section.main.orphaned .content .sectionname .sectionname:after {
  display: none;
}

ul.ctopics li.section.main .sectionbody ul.section li.activity {
  padding-bottom: 20px;
}

ul.ctopics li.section.main .sectionbody .section.img-text {
  margin: 1em 15px;
}

ul.ctopics li.section.main .sectionbody .section.img-text ul.section li.activity {
  padding-bottom: 20px;
}

ul.ctopics li.section.main.current .sectionhead {
  border-radius: 0 !important;
  color: white;
  border-bottom: none;
}

ul.ctopics li.section.main.current .sectionhead:hover {
  color: white;
}

ul.ctopics li.section.main.current .sectionhead .sectionname {
  color: white !important;
}

ul.ctopics li.section.main.current .sectionhead .sectionname:hover {
  color: #dadada;
}

ul.ctopics li.section.main.sectiondraggable {

  .left.side, .right.side, .sectionhead {
    margin: 0;
    height: 60px;
  }

  .left.side {

    .section-handle {
      display: inline-flex;
      align-items: center;
      margin: 0;
      padding: 0;
      height: 100%;

      .icon {
        margin: 0 auto;
      }
    }
  }

  .right.side {

    .section_action_menu {
      margin: 0;
      width: 100%;
      height: 100%;

      .action-menu-trigger {
        margin: 0 auto;
      }
    }
  }

  .sectionhead {
    .toggle_closed {
      .section_availability {
        display: none;
      }
    }
  }
}

ul.ctopics li.section.main.sectiondraggable .sectionhead .sectionname:after {
  margin-right: 25px;
}


body #page ul.ctopics .tcsection .content .sectionbody h4 .tc-medium.off {
  background-color: $laranja !important;

  &:hover {
    background-color: darken($laranja, 5%) !important;
  }
}

body.category-2 #page .course-content ul.topics li.section.main.current .section-handle,
body.category-2 #page .course-content ul.weeks li.section.main.current .section-handle,
body.category-2 #page .course-content ul.ctopics li.section.main.current .section-handle,
body.category-2 #page .course-content ul.topics li.section.main.current .section_action_menu,
body.category-2 #page .course-content ul.weeks li.section.main.current .section_action_menu,
body.category-2 #page .course-content ul.ctopics li.section.main.current .section_action_menu {
  background-color: #4d362e;
  border: 1px solid #4d362e;
}
body.category-2 #page .course-content ul.topics li.section.main.current .content .sectionname,
body.category-2 #page .course-content ul.weeks li.section.main.current .content .sectionname,
body.category-2 #page .course-content ul.ctopics li.section.main.current .content .sectionname,
body.category-2 #page .course-content ul.topics li.section.main.current .content .sectionname:hover,
body.category-2 #page .course-content ul.weeks li.section.main.current .content .sectionname:hover,
body.category-2 #page .course-content ul.ctopics li.section.main.current .content .sectionname:hover {
  background-color: #6d4c41;
}
body.category-2 #page .course-content ul.topics li.section.main.current .content .sectionname:hover,
body.category-2 #page .course-content ul.weeks li.section.main.current .content .sectionname:hover,
body.category-2 #page .course-content ul.ctopics li.section.main.current .content .sectionname:hover,
body.category-2 #page .course-content ul.topics li.section.main.current .content .sectionname:hover:hover,
body.category-2 #page .course-content ul.weeks li.section.main.current .content .sectionname:hover:hover,
body.category-2 #page .course-content ul.ctopics li.section.main.current .content .sectionname:hover:hover {
  background: #6d4c41;
}
body.category-2 #page ul.ctopics li.section.main.current .sectionhead {
  background-color: #6d4c41 !important;
}
body.category-2 #page ul.ctopics li.section.main.current .sectionhead:hover {
  background: #6d4c41;
}
body.category-2 #page ul.ctopics li.section.main .content .sectionhead a {
  color: #6d4c41;
}
body.category-2 #page ul.ctopics li.section.main .content .sectionhead a:hover {
  color: #4d362e;
  text-decoration: none;
}
body.category-2 #page ul.ctopics .tcsection .content .sectionbody h4 .tc-medium.off {
  background-color: #6d4c41 !important;
}
body.category-2 #page ul.ctopics .tcsection .content .sectionbody h4 .tc-medium.off:hover {
  background-color: #4d362e !important;
}
