
@mixin cursoCorTema($corPrimaria, $corEscura, $corAuxiliar) {

  %ligacao-branca {
    color: white;

    &:visited {
      color: white;
    }

    &:hover, &:active, &:focus, &:focus-within {
      color: #cacaca;
    }
  }


  //
  // primarios
  //

  a {
    color: $corAuxiliar;

    &:hover {
      color: darken($corAuxiliar, 10%);
    }
  }

  .btn-primary {
    background-color: $corPrimaria;

    &:hover, &:active, &:focus, &:focus-within {
      background-color: darken($corPrimaria, 10%) !important;
      color: white;
    }
  }


  //
  // barraNav
  //

  nav.navbar {
    background-color: $corEscura;
    color: white;

    a, i {
      @extend %ligacao-branca;
    }

    button.nav-link {
      background-color: $corPrimaria;
      color: white;

      &:visited {
        color: white;
      }

      &:hover, &:active, &:focus, &:focus-within {
        background-color: lighten($corPrimaria, 10%) !important;

        i {
          color: white;
        }
      }
    }

    .usermenu .login a {
      color: lighten($corAuxiliar, 10%);

      &:hover {
        text-decoration: none;
        color: lighten($corAuxiliar, 15%);
      }
    }

    .popover-region-container {
      color: #333;

      a, i.fa {
        color: $corAuxiliar;

        &:hover, &:active, &:focus, &:focus-within {
          color: darken($corAuxiliar, 10%);
        }
      }
    }
  }

  //
  // barraLat
  //

  #nav-drawer {

    .list-group {

      .list-group-item {
        color: $corEscura;

        &:hover {
          background-color: $corAuxiliar;
          color: white;
        }

        &.active {
          background-color: $corPrimaria;
          color: white;
        }
      }
    }
  }


  //
  // cabecalho
  //

  #page-header {
    background-color: $corPrimaria;
    color: white;

    a {
      color: white;

      &:hover, &:active, &:focus, &:focus-within {
        color: #cacaca;
      }
    }

    .breadcrumb {

      .breadcrumb-item:before {
        color: white;
      }
    }
  }


  //
  // rodape
  //

  #page-footer {
    background-color: $corPrimaria;
    color: white;

    a, i, .icon {
      @extend %ligacao-branca;
    }
  }


  //
  // post.scss
  //

  .dropdown-menu {
    background-color: $corEscura;
    color: white;

    a {
      @extend %ligacao-branca;
    }

    .dropdown-item, .dropdown-item a {
      color: white;

      &:hover, &:active, &:focus, &:focus-within {
        background-color: $corPrimaria;
        color: white !important;
      }
    }
  }

  .course_category_tree > .content{

    > .subcategories {

      > .category {
        border-left: 5px solid $corAuxiliar;
      }
    }
  }

  &#page-login-index {

    .card {
      border-color: $corPrimaria;

      .card-block {

        .card-header {
          margin-bottom: 0;
          background-color: $corPrimaria;
          color: white;
        }
      }
    }
  }


  //
  // cursoFormato
  //

  .course-content {

    ul.topics,
    ul.weeks,
    ul.ctopics {

      li.section.main {

        &.current {
          border-color: $corPrimaria;

          .sectionname a {
            color: $corEscura;
          }

          .section_availability {
            .availabilityinfo {
              color: white;
            }
          }

          // Modo de edição ativo
          &.sectiondraggable {

            .section_availability {
              .availabilityinfo {
                color: black;
              }
            }
          }

          .section-handle, .section_action_menu {
            border-color: white;
          }

          .dropdown-menu {
            background-color: $corPrimaria;

            a {
              color: white;
            }
          }
        }
      }
    }

    ul.ctopics {

      li.section.main {

        &.current {

          .left.side, .right.side, .sectionhead {
            border-color: $corPrimaria;
            background-color: $corPrimaria !important;

            &:hover {
              background: $corPrimaria;
            }

            .sectionname a, .action-menu a, i.icon {
              @extend %ligacao-branca;
            }

            .toggle_open .sectionname:after, .toggle_closed .sectionname:after {
              color: white;
            }
          }
        }
      }
    }
  }
}


// Padrão
body {
  @include cursoCorTema($corPrimaria: $azul, $corEscura: #1B3E6E, $corAuxiliar: $laranja);
}

// Artes Visuais
body.category-23 {
  @include cursoCorTema($corPrimaria: #C64353, $corEscura: #99313E, $corAuxiliar: $azul);
}

// Biologia
/*body.category-32 {
  @include cursoCorTema($corPrimaria: #8D6708, $corEscura: #654A06, $corAuxiliar: $azul);
}*/

// Filosofia
body.category-31 {
  @include cursoCorTema($corPrimaria: #537D3B, $corEscura: #3A5B2A, $corAuxiliar: $laranja);
}

// Física
body.category-29 {
  @include cursoCorTema($corPrimaria: #108174, $corEscura: #004B3D, $corAuxiliar: $laranja);
}

// História
body.category-30 {
  @include cursoCorTema($corPrimaria: #4B7B7C, $corEscura: #365959, $corAuxiliar: $laranja);
}

// Letras Italiano
body.category-184 {
  @include cursoCorTema($corPrimaria: #11884E, $corEscura: #125E39, $corAuxiliar: $laranja);
}

// Pedagogia
body.category-33 {
  @include cursoCorTema($corPrimaria: #5A4885, $corEscura: #43355F, $corAuxiliar: $laranja);
}

// Química
body.category-28 {
  @include cursoCorTema($corPrimaria: #1B7898, $corEscura: #135A71, $corAuxiliar: $laranja);
}
