
/* Elementos primários */

body {
  background-color: #fafafa;
}


/* Elementos secundários */

.btn {
  font-size: 1rem;
}

.btn-default, .btn-primary, .btn-secondary {
  border: none;
}

input[type="submit"] {
  margin-top: 5px;
  margin-bottom: 5px;
}

