#page-footer {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #7F7F7F;
  
  .marcas-grupo {
    margin: 0 auto;
    
    a img {
      margin: 10px;
    }
  }

  a {
    color: #7F7F7F;

    &:visited, .icon {
      color: #7F7F7F;
    }

    &:hover, &:active, &:focus, &:focus-within {
      text-decoration: none;
      color: lighten(#7F7F7F, 10%);
    }
  }
}