@import 'limpaBoost';
@import 'primarios';
@import 'barraNav';
@import 'barraLat';
@import 'cabecalho';
@import 'rodape';
@import 'adaptacao';

.cardx {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.generaltable {
  float: left;
  margin-top: 1rem;
}

.usertext {
  margin-right: .5 rem;
}

.messaging-area-container .messaging-area .contacts-area {

  .searchtextarea {
    background-color: whitesmoke;
  }

  .contacts {
    height: 480px;
  }

  .tabs {
    height: 70px;

    .tab {
      padding: 10px;
    }
  }
}

.preferences-container {

  .preference-table {

    tr td:not(:first-child) {
      width: auto;
    }

    .preference-row {

      .preference-state {

        .preference-state-status-container {
          width: auto;
          min-width: 4.7rem;
          height: auto;
          padding: 5px;
        }
      }
    }
  }
}

#page-wrapper {
  padding-bottom: 0;
}

#page-content {
  padding: 30px 15px;

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h2:first-of-type {
    margin-top: 0;
  }

  .card {
    background-color: white;
    border: 1px solid #d5d5d5;
  }

  .block {

    .card-body {
      padding: 0;
    }
  }

  .mform fieldset {
    margin-top: 1rem;
  }


  aside {

    &#block-region-side-pre {
      //padding: 1.25rem 0;
    }

    .block {

      .card-body {

        h5 {
          width: 100%;
          padding: 13px 1.25rem;
          background: #fafafa;
          border-bottom: 1px solid #d5d5d5;
        }

        .card-text.content {
          padding: 0 1.25rem 1.25rem 1.25rem;
        }
      }
    }
  }
}

#region-main {
  /*padding: 1.25rem 0;*/
}

.buttons {
  margin-top: 1rem;
}

#course-category-listings {

  h3 {
    padding: .75rem 1.25rem; // .card-header
  }
}

#frontpage-course-list {
  margin-top: 25px;

  > h2 {
    margin-bottom: 25px;
  }

  .coursename a {
    padding-left: 25px;
    background-position: left center;
    line-height: 1.640625rem;
  }
}

#page-course-index-category .generalbox.info {
  /*border: 1px solid #ddd;*/
  border: none;
  padding: 15px;
}

.collapsible-actions {
  margin-bottom: 15px;
}

#frontpage-category-names > h2 {
  margin-bottom: 0;
}

.course_category_tree {
  margin-top: 2rem;

  .content {

    .subcategories {

      $borda: 1px solid #d5d5d5;

      .category {
        border-right: $borda;
        border-bottom: $borda;

        &:first-child {
          border-top: $borda;
        }

        &.dimmed_category {
          border-left-color: #d5d5d5 !important;
        }

        > .info {
          padding: 5px 10px 5px 0;

          > .categoryname {
            margin: 10px 0;
            padding: 0 15px;
            background-position-x: right;
          }
        }
      }

      .subcategories {
        margin: 0 0 2rem 0;

        .category {
          border-left: $borda;
        }
      }
    }

    .courses {
      margin-bottom: 2rem;

      .coursebox {

        &:first-child {
          border-top: 1px solid #d5d5d5;
        }

        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #d5d5d5;
        background-color: white !important;

        .content {

          .summary {
            float: inherit;
          }

          .teachers {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.course-content {

  ul.topics,
  ul.weeks {

    li.section {
      /*padding-top: 2rem;*/

      .right.side {

        .section_action_menu {
          margin-bottom: 1.5rem;
        }
      }

      .summary {
        margin-top: 2rem;
      }
    }    
  }
}

#page-login-index {

  .card {

    .card-block {

      .card-header {
        border: 0;
      }

      .card-body {
        padding: 1.25rem 1.25rem 3rem 1.25rem;
        border: 1px solid #E5E5E5;
        background-color: white;   
      }
    }
  }
}

#participantsform {

  > div {
    display: inline-flex;
    flex-flow: column;
  }
}

@import 'cursoCorTema';
@import 'cursoFormatoGeral';
@import 'cursoFormatoAcordeao';