
@import 'primarios';
@import 'barraNav';
@import 'barraLat';
@import 'cabecalho';
@import 'rodape';

.cardx {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-background-clip: border-box;
  background-clip: border-box;
}

.dropdown-menu {
  background-color: $corEscura;
  color: white;

  .dropdown-item, .dropdown-item a {
    color: white;

    &:hover, &:active, &:focus, &:focus-within {
      background-color: $corPrimaria;
      color: white !important;
    }
  }
}

.generaltable {
  float: left;
  margin-top: 1rem;
}

.messaging-area-container .messaging-area .contacts-area {
  
  .searchtextarea {
    background-color: whitesmoke;
  }

  .contacts {
    height: 480px;
  }
  
  .tabs {
    height: 70px;
    
    .tab {
      padding: 10px;
    }
  }
}

.preferences-container {

  .preference-table {

    tr td:not(:first-child) {
      width: auto;
    }

    .preference-row {

      .preference-state {

        .preference-state-status-container {
          width: auto;
          min-width: 4.7rem;
          height: auto;
          padding: 5px;
        }
      }
    }
  }
}



/* Leiaute */

#page-wrapper {
  padding-bottom: 0;
}



/* Conteúdo da página */
#page-content {
  padding: 30px 15px;

  h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  h2:first-of-type {
    margin-top: 0;
  }

  .card {
    background-color: white;
    border: 1px solid #d5d5d5;
  }

  .block {

    .card-body {
      padding: 0;
    }
  }

  .mform fieldset {
    margin-top: 1rem;
  }


  aside {
    /*padding: 2rem 0;*/

    &#block-region-side-pre {
      padding: 1.25rem 0;
    }

    .block {

      .card-body {

        h5 {
          width: 100%;
          padding: 13px 1.25rem;
          background: #fafafa;
          border-bottom: 1px solid #d5d5d5;
        }

        .card-text.content {
          padding: 0 1.25rem 1.25rem 1.25rem;
        }
      }
    }
  }
}


#course-category-listings {

  h3 {
    padding: .75rem 1.25rem; // .card-header
  }
}

#frontpage-course-list {

  > h2 {
    margin-bottom: 25px;
  }

  .coursebox {
    border: 1px solid #d5d5d5;
    border-left: 5px solid $corAuxiliar;
  }

  .coursename a {
    padding-left: 25px;
    background-position: left center;
    line-height: 1.640625rem;
  }
}

.course-content {

  ul.topics {

    li.section {
      padding-top: 2rem;

      .right.side {

        .section_action_menu {
          margin-bottom: 1.5rem;
        }
      }
    }    
  }
}





#page-login-index {

  .card {

    .card-block {

      .card-header {
        border: 0;
        background-color: $corPrimaria;
        color: white;
      }

      .card-body {
        padding: 1.25rem 1.25rem 3rem 1.25rem;
        border: 1px solid #E5E5E5;
        background-color: white;   
      }
    }
  }
}

